<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Devtool>
            <version>0.1.0</version>
            <depends>
            </depends>
        </Mage_Devtool>
    </modules>
    <frontend>
        <layout>
            <updates>
                <devtool>
                    <file>devtool.xml</file>
                </devtool>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Devtool>
                    <files>
                        <default>Mage_Devtool.csv</default>
                    </files>
                </Mage_Devtool>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devtool>
                    <file>devtool.xml</file>
                </devtool>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Devtool>
                    <files>
                        <default>Mage_Devtool.csv</default>
                    </files>
                </Mage_Devtool>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <devtool>
                <class>Mage_Devtool_Model</class>
                <resourceModel>devtool_mysql4</resourceModel>
            </devtool>
        </models>
        <helpers>
            <devtool>
                <class>Mage_Devtool_Helper</class>
            </devtool>
        </helpers>
        <blocks>
            <devtool>
                <class>Mage_Devtool_Block</class>
            </devtool>
        </blocks>
        <events>
            <controller_action_predispatch>
                <observers>
                    <check_params_observer>
                        <type>singleton</type>
                        <class>devtool/observer</class>
                        <method>checkParams</method>
                    </check_params_observer>
                </observers>
            </controller_action_predispatch>
            <controller_front_init_routers>
                <observers>
                    <first_event_observer>
                        <type>singleton</type>
                        <class>devtool/observer</class>
                        <method>attachToAllEvents</method>
                    </first_event_observer>
                </observers>
            </controller_front_init_routers>
            <http_response_send_before>
                <observers>
                    <last_event_observer>
                        <type>singleton</type>
                        <class>devtool/observer</class>
                        <method>attachEventHtml</method>
                    </last_event_observer>
                </observers>
            </http_response_send_before>
        </events>
    </global>
    <default>
    </default>
</config>