#devtool-main {
    width: 100%;
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: black;
}
.ui-tabs-panel {
    height:300px;
    overflow:auto;
}
#devtool-caption {
    padding:8px;
}