#devtool-main {
    width: 100%;
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: black;
    text-align: left;
}
.ui-tabs-panel {
    height:300px;
    overflow:auto;
}
#devtool-caption {
    padding:8px;
}

#tabs-devtool-layout ul {
    margin-left:20px;
}

.jstree-type-text a ins.jstree-icon {
    background-position: 0px -19px !important;
}

#profiler_section {
    display: none  !important;
}